body,
.ui-body-c,
.ui-overlay-c {
  background-color: rgb(199, 74, 93);
  background-image: url('../images/pattern.png');
  background-attachment: fixed;
  text-shadow: none;
}

a,
.ui-body-c .ui-link,
.ui-body-c .ui-link:visited {
  text-decoration: none;
}

a:hover,
.ui-body-c .ui-link:hover {
  text-decoration: none;
  color: #A0C5E8;
}

#page-wrapper {
  width: 65%;
  margin: 0 0 0 32%;
  box-shadow: 0px 0px 10px 2px rgba(80, 80, 80, 0.2);
  background-color: #fefefe;
}

#main-content {
  font-family: 'Minion Pro','Crimson Text', serif;
}

#main-content h1 {
    font-family: 'Minion Pro','Crimson Text', serif;
    font-size: 2.25em;
    border-bottom: 1px solid #333;
    padding-bottom: 0.2em;
    margin-bottom: 0.66em;
}
#main-content h2 {
    font-size: 1.5em;
    color: #9ea374;
    margin-bottom: 0.5em;
    margin-top:1.5em;
}
#main-content h1 + h2 {
    margin-top: 0;
}
#main-content h3 {
    margin-top: 2em;
    font-size: 1em;
    margin-bottom: 0.5em;
    font-style: italic;
    border-bottom: 1px solid #333;
    padding-bottom: 0.2em;
}

#main-content h2 + h3 {
    margin-top: 0;
}
#main-content h4 {
    color: black;
    font-size: 1.1em;
    font-weight: bold;
}

#main-content ul {
  list-style-type: circle;
  font-size: 0.9em;
  padding-left: 2em;
}

#main-content ul li {
    line-height: 1.3em;
    margin-bottom: 0.75em
}

a.icon-menu {
  display: none;
  position: absolute;
  top: 2%;
  left: 5%;
}

#page-header {
  width: 26%;
  display: inline-block;
  float: left;
  padding: 1% 2%;
  margin-left: 3%;
  margin-top: 2.5em;
  position: fixed;
}

#page-header, #mobile-header .navigation {
  background-color: rgba(255, 255, 255, 0.5);
}

.ui-panel-display-reveal {
  box-shadow: none;
}

.ui-panel-inner {
  padding: 0;
}

#head {
  padding: 1em 0;
}

#logo img {
  width: 94%;
  margin-left: 1.25%;
}

#nav {
  padding: 0 7%;
}

.navigation li {
  border-bottom: 1px dotted #ccc;
  text-align: right;
  padding: 0.33em;
}

.navigation li:hover {
  background-color: #ddd;
}

.navigation li a,
.navigationv li .ui-link,
.navigation li .ui-link:visited,
.navigation li .ui-link:hover {
  color: #333;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  word-spacing: 0.25em;
}

#content-wrapper {
  width: 79.9%;
  display: inline-block;
  margin-left: 0;
  margin-right: 0;
  border-left: .1em solid #DDD;
  border-top-right-radius: 1.55em;
  border-bottom-right-radius: 1.55em;
}

.ui-panel-content-wrap {
  background: transparent;
}

#mobile-header {
  display: none;
}

#main-content {
  padding: 4em 0 1em 15%;
}

#main-content, #page-header {
}

blockquote, blockquote + p {
  background-color: #e9f5ec;  
  padding: 1.5em 2em;
}

blockquote {
}

blockquote + p {
    margin-top: -3em;
    text-align: right;
}

blockquote + h2 {
  margin-top: 1em;
}

h1, h2, h3 {
  font-family: 'Lato', sans-serif;
}

#main img {
    max-width: 100%;
}

#footer {
  margin-top: 1em;
}

#footer ul {
  padding: 2em 7%;
  text-align: left;
}

#footer ul li {
  display: inline-block;
  font-size: 1.5em;
}

#footer ul li a,
#footer ul li .ui-link {
  color: #333;
}

.ui-loader {
  display: none;
}


/*===============================
  Media Queries
 ===============================*/

@media screen and (max-width: 650px) {
  body {
    font-size: 0.9em;
  }
  #page-header {
    /* don't display on small screens */
    display: none;
    width: 50%;
    margin-top: 0;
    padding: 0;
    margin-left: 1.5%;
  }

  #head {
    display: none;
  }
  
  #nav {
    padding-top: 1em;
  }

  #page-wrapper {
    width: 98%;
    margin: 0 1%;
    padding: 0;
    overflow: hidden;
  }
  
  #content-wrapper {
    width: 94%;
  
    paddint-top: 1em;
}
  
  #mobile-header {
    display: block;
    background-image: url('../images/pattern.png');
    padding: 0.1em;
}

  #mobile-header p {
    margin: 0.75em 0;
    color: white;
    font-weight: bold;
    margin-left: 17%;
    font-size: 1.2em;
  }
  #mobile-header .navigation {
      /* hide by default */
      margin-bottom: 0.25em;
      display: none;
  }

  #mobile-header .navigation li {
    text-align: left;
    padding: 1em;
    border-right: 1px dotted #ccc;
    width: 49.25%;
    display: inline-block;
    margin-right: 0;
}

  #page-wrapper a.icon-menu {
    display: inline-block;
    top: 0.5em;
    z-index: 100;
    font-size: 1.5em;
    color: white;
  
    background-color: rgba(255, 255, 255, 0.21);
    border-radius: 0.2em;
  }

  #main-content {
    padding: 2em 0 1em 7%;
  }
  
}