  <body>
    <div data-role="page">
    	<a href="#main" id="skip-nav">Skip Navigation</a>
    	<div id="page-header" data-role="panel">
  	   	<div id="head">
  	  		<a href="#" id="logo"><img src="/assets/images/logo-t.png" alt="Alpha Chi Omega Kappa Nu Chapter at Carnegie Mellon University" id="logo-img"/></a>
  	  	</div>
        <div id="nav" class="navigation">
          <%= render 'navlist' %>
        </div>
    		<div id="footer">
    			<ul>
    				<li><a href="http://www.alphachiomega.org/" class="icon-network"> </a></li>
    				<li><a href="http://www.facebook.com/CMUAXO" class="icon-facebook-squared"> </a></li>
    			</ul>
    		</div>
    	</div>
       

      <div id="page-wrapper" data-role="content">
        <div id="mobile-header">
          <a href="#mobile-nav" class="icon-menu"></a>
          <p>AX&#937; at Carnegie Mellon</p>
          <div id="mobile-nav" class="navigation mobile-nav">
            <%= render 'navlist' %>
          </div>
        </div>
      	<a name="main"></a>
      	<div id="content-wrapper">
      		<div id='main-content'>
