  <body>
  	<a href="#main" id="skip-nav">Skip Navigation</a>
  	<div id="page-header">
	   	<div id="head">
	  		<a href="#" id="logo"><img src="/assets/images/logo-t.png" alt="Alpha Chi Omega Kappa Nu Chapter at Carnegie Mellon University" id="logo-img"/></a>
	  	</div>
		<% nav_items = {"home" => '/',
						"sisterhood" => '', 
						"members" => '', 
						"philanthropy" => '', 
						"academics" => '', 
						"campus involvement" => '', 
						"traditions & history" => '', 
						"the house" => '', 
						"joining AX&#937;" => 'joining-axo'} %>
		<div id="nav">
			<ul>
			<% nav_items.each do |item_name, item_url| %>
				<% 
				if item_url == ''
					item_href = item_name.gsub('&', 'and').gsub(/ /,'-')
				else
					item_href = item_url
				end
				capitalized_item = item_name.split(" ").each{|word| word.capitalize!}.join(" ");
				%>
				<li><a href="/<%= item_href %>/"><%= capitalized_item %></a></li>
			<% end %>
			</ul>
		</div>
		<div id="footer">
			<ul>
				<li><a href="#national">National</a></li>
				<li><a href="#facebook">Facebook</a></li>
			</ul>
		</div>
	</div>
  
  	<div id="page-wrapper">
	<a name="main"></a>
	<div id="content-wrapper">
		<div id='main-content'>